<p id="notice"><%= notice %></p>

<p>
  <strong>Project:</strong>
  <%= @repository.name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @repository.url %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @repository.owner %>
</p>

<p>
  <strong>Email:</strong>
  <%= @repository.email %>
</p>

<p>
  <strong>Last checked:</strong> 
  <%= @repository.last_checked %> <%= link_to 'Scan'%>
</p>
<p>
  <strong>Last report:</strong>

</p>
<%= link_to 'Edit', edit_repository_path(@repository) %> |
<%= link_to 'Back', repositories_path %>
