<h2>Repositories in <%= @organization.name %></h2>
  <div class="row"> 
    <%= form_tag scan_all_route_path, :method => :post do %>
    <table class="table">
      <thead>
        <tr>
          <th>Select</th>
          <th>Name</th>
          <th>Owner</th>
          <th>Url</th>
        </tr>
      </thead>
      <tbody>
        <% @repositories.each do |repository| %>
          <tr>
            <td><%= check_box_tag("repos[]", repository.id) %></td>
            <td><%= repository.name %></td>
            <td><%= repository.owner %></td>
            <td><%= repository.url %></td>

            <td><%= link_to 'Show Dependencies', show_vulnerability_path(repository.id, :organization_id => @organization.id) %></td>
            <td><%= link_to 'Details', repository_path(repository.id, :organization_id => @organization.id) %></td>
            <td><%= link_to 'Edit', edit_repository_path(repository, :organization_id => @organization.id) %></td>
            <td><%= link_to 'Destroy', repository_path(repository.id, :organization_id => @organization.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="row"> 
    <p style="width:50%;"><%= submit_tag "Scan Selected", 'data-disable-with' => "Please wait..", :class => 'btn btn-primary' %></p>
  <% end %>
  </div>
